{% load i18n %}

<c-layout page_title="{% translate 'Transactions' %}">
  <c-forms.container
    hx-trigger="search"
    hx-get="{{ index_url }}"
    hx-target="#{{ container_id }}"
    hx-include="*[data-htmx-include]"
    id="{{ search_filterset_form_id }}"
    class="w-full"
    data-htmx-include
  >
    <c-inputs.input
      :field="search_filterset.form.q"
      label="{% translate 'search' %}"
      placeholder="{% translate 'search' %}"
      type="search"
    >
      <c-tablericon.search class="size-6" />
    </c-inputs.input>
  </c-forms.container>
  <div class="py-4">
    <table class="w-full table-auto overflow-hidden">
      <thead>
        <tr>
          <c-table.th>
            <input type="checkbox" name="check-all" id="check-all" />
          </c-table.th>
          <c-table.th>{% translate 'Date' %}</c-table.th>
          <c-table.th>{% translate 'Amount' %}</c-table.th>
          <c-table.th>{% translate 'Customer' %}</c-table.th>
          <c-table.th>{% translate 'Notes' %}</c-table.th>
        </tr>
      </thead>
      <tbody id="{{ container_id }}">
        <c-balance.transaction.partial-list />
      </tbody>
    </table>
  </div>
</c-layout>
