<c-vars kind="button"
        base_theme="p-2 rounded-full border outline-none focus:ring-1 flex items-center gap-2"
        :themes="{ 'primary': 'border-neutral-200 dark:border-neutral-900 hover:bg-neutral-200 dark:hover:bg-neutral-900 focus:ring-neutral-200 dark:focus:ring-neutral-900', }"
        theme="primary" />
<!--  -->
{% if kind == "button" %}
  <button class="{{ base_theme }} {{ themes|get_item:theme }}"
          {{ attrs }}>
    {{ icon }}
    {% if text %}
      <span class="first-letter:capitalize">{{ text }}</span>
    {% endif %}
  </button>
{% endif %}
<!--  -->
{% if kind == "a" %}
{% endif %}
<!--  -->
{% if kind == "input" %}
{% endif %}
