{% load i18n %}

<header class="sticky top-0 start-0 px-6 py-4 mb-2 z-40 bg-white dark:bg-black border-b border-neutral-200 dark:border-neutral-900">
  <nav class="flex justify-between items-center">
    <h1 class="text-xl tracking-tighter font-medium">
      <a href="{% url 'balance:customer:index' %}">
        {% translate "Customers Balance" %}
      </a>
    </h1>
    <a href="{% url 'balance:transaction:index' %}">
      {% translate "Transactions" %}
    </a>
    <ul class="flex items-center gap-4">
      <c-spinner />
      <c-button @click="toggleTheme"
                title='{% translate "Toggle Theme" %}'>
        <c-slot name="icon">
          <div x-show="theme === 'light'">
            <c-tablericon.sun class="size-5" />
          </div>
          <div x-show="theme === 'dark'">
            <c-tablericon.moon class="size-5" />
          </div>
          <div x-show="theme === 'system'">
            <c-tablericon.brightness class="size-5" />
          </div>
        </c-slot>
      </c-button>
    </ul>
  </nav>
</header>
