<c-vars page_title="CUSTOMERS BALANCE" />
<!DOCTYPE html>
<html lang="en"
      x-data="colorTheme"
      :class="{ 'dark': isDark }"
      :style="{ backgroundColor: backgroundColor }"
      x-cloak>
  <head>
    <c-head />
  </head>
  <body x-data="body('{{ page_title }}')"
        hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
        class="bg-white dark:bg-black text-neutral-900 dark:text-neutral-200"
        hx-indicator="*[data-indicator]">
    <c-modal.container />
    <c-header />
    <main class="max-w-4xl p-4 mx-auto">
      {{ slot }}
    </main>
  </body>
</html>
